/* IMPORTANT:  use unique CSS class name to avoid confliction with other extensions or applications. */

/* For example, adding the extension id as prefix of CSS class name. */

body {
    padding: 0;
    margin: 0;
}
html, body, #container, #map {
    height: 100%;
    width: 100%;
}


.theateam circle.crime {
    opacity: 0.25;
}

.theateam circle.crime:hover {
    cursor: pointer;
    opacity: 1;
}

div.tip {
    padding: 10px;
    display: block;
    color: #CCC;
    background-color: #333;
    border: 1px solid #000;
    font-size: 0.8em;
    line-height: 1.2em;
    font-family: sans-serif;
}

div.tip span {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
}

#time-chart {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -400px;
    background: #fafafa;
    opacity: 0.7;
}